* {
    box-sizing: border-box;
}

body {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 10px;
}

.grid {
    height: 1000px;
    width: 1000px;
    display: flex;
    flex-direction: column;
    border: 1px solid black;
}